[submodule ".scripts"]
	path = .scripts
	url = https://github.com/sebdybowski/scripts.git
[submodule ".slimzsh"]
	path = .slimzsh
	url = https://github.com/changs/slimzsh.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
